<nav class="menu">
    <input id="menu-toggle" type="checkbox" />
    	<label class='menu-button-container' for="menu-toggle">
    	<div class='menu-button'></div>
  		</label>
    <ul class="menu__list">
        <li class="menu__list-item"><img src="../src/img/Vector.svg" alt="list"><span>Buds</span></li>
        <li class="menu__list-item"><img src="../src/img/Vector.svg" alt="list"><span>Edible</span></li>
        <li class="menu__list-item"><img src="../src/img/Vector.svg" alt="list"><span>Non Edible</span></li>
        <li class="menu__list-item"><img src="../src/img/Vector.svg" alt="list"><span>Concentrate</span></li>
    </ul>
    
</nav>