<div class="wrapper-nose">
    <div class="range-input__name">Nose</div>
    <div class="column-wrapper">
      <span class="column">

      </span>
      <span class="column">

      </span><span class="column">


      </span>
      <span class="column">

      </span>
        <span class="column">
        
      </span><span class="column">
        
      </span><span class="column">
        
      </span><span class="column">
        
      </span><span class="column">
        
      </span><span class="column">
        
      </span>
    </div>

    <div class="range-nose">
      <span class="nose">min</span>
      <span class="nose">max</span>
    </div>
    </div>