<ul class="sort-list">
    <li class="sort-title">Sort by:</li>
    @@include('../components/sortItem.html',{
        "img":"../src/img/data.png",
        "sort-text":"Data (New first)",
      })
      @@include('../components/sortItem.html',{
        "img":"../src/img/data.png",
        "sort-text":"Data (Old first)",
      })
      @@include('../components/sortItem.html',{
        "img":"../src/img/arrow.png",
        "sort-text":"Price (High first)",
      })
      @@include('../components/sortItem.html',{
        "img":"../src/img/arrow.png",
        "sort-text":"Price (Low first)",
      })
      @@include('../components/sortItem.html',{
        "img":"../src/img/THC.png",
        "sort-text":"Total THC (High first)",
      })
      @@include('../components/sortItem.html',{
        "img":"../src/img/THC.png",
        "sort-text":"Total THC (Low first)",
      })
      @@include('../components/sortItem.html',{
        "img":"../src/img/CBD.png",
        "sort-text":"Total CBD (High first)",
      })
      @@include('../components/sortItem.html',{
        "img":"../src/img/CBD.png",
        "sort-text":"Total CBD (Low first)",
      })
</ul>